body {
  color: #333333;
  background-image: url(background.png);
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #323232;
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

#filtercontainer
{
  padding: 20px 20px;
  background-color:  #53354a;
  border-style:solid;
  border-radius: 20px;
  margin-top: 10pt;
  margin-bottom: 10pt;
}

#siteheader{
  background-color: #361313;
}

#maincontainer
{
  border-radius: 20px;
  background:#323232;
}

#heading1
{
    margin-top: 20px;
    font-family:'Courier New', Courier, monospace;
    font-size: 75px;
    color: rgb(255, 255, 255);
}

#heading1container
{

  background:#111320;
  padding: 20px 20px;
  border-style:solid;
  border-radius: 20px;
  margin-top: 25pt;
  margin-bottom: 50pt;
  text-align: center;

}

#heading2
{
    font-family:'Courier New', Courier, monospace;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
}

#heading2container
{
  
  background: #53354a;
  padding: 10px 20px #dddddd;
  border-radius: 20px;
  margin-left:50pt;
}

#heading3
{
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-top:10px;
    text-align: center;
  
}

#list{
  font-family:'Courier New', Courier, monospace;
  background: #8ad7c1;
  padding: 20px 20px;
  border: 1px solid;
  border-radius: 10px;
  margin-top: 10pt;
  color: white;
}

#movieblock{
  background-color:#5eaaa8;
  padding: 20px 20px;
  border-style:solid;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

#displaytitle{
  
  text-align: center;
  padding: 10px;
  border-radius: auto;
  margin: auto;
  color: white;
  font-size: 25pt;
  font-family:'Courier New', Courier, monospace;
}

#overview
{
    margin-left: 10px;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

#smallposter{
  margin:0 auto;
  width: 30em;
}

#usercontent{
  margin-top: 10pt;
  width: 30em;
}
