{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel ="stylesheet" type ="text/css" href = "{{ url_for('static', filename='main.css') }}">
<div class ="container" >
    <div class ="row" id="heading1container"><h1 id="heading1">Content Info for {{title}}</h1></div>
</div>
<div class ="container" id="heading1container">
    <div class="col" id="movieblock">
        <div class="row">
            <img src = "https://image.tmdb.org/t/p/original/{{poster}}" id = "smallposter"></img>
        </div>
        <div class="row">
            <h3 id ="heading3"> Title: </h3>
        </div>
        <div class="row">
            <h3 id ="displaytitle"> {{title}} </h3>
        </div>
        <div class="row">
            <h3 id ="heading3"> Overview: </h3>
        </div>
        <div class="row">
            <p id ="overview"> {{overview}} </p>
        </div>
        <div class="row">
            <h3 id ="heading3"> Rating: </h3>
        </div>
        <div class="row">
            <h3 id ="displaytitle"> {{rating}} </h3>
        </div>
        <div class="row">
            <h3 id ="heading3"> Recommend More Like This?  </h3>
        </div>
        
        {% if content_type == "movie" %}
        <div class="col-6" id ="list"> 
            <a href="{{url_for('post_movie_to_database', title = title, id = movie_id, liked = 1 )}}"> Like </a>
        </div>
        <div class="col-6" id ="list"> 
            <a href="{{url_for('post_movie_to_database', title = title, id = movie_id, liked = 0 )}}"> Dislike </a>
        </div>
        {% endif %}

        {% if content_type == "tv" %}
        <div class="col-6" id ="list">  
            <a href="{{url_for('post_tv_to_database', title = title, id = movie_id, liked = 1 )}}"  > Like </a>
        </div>
        <div class="col-6" id ="list">  
            &nbsp;
            &nbsp;
            <a href="{{url_for('post_tv_to_database', title = title, id = movie_id, liked = 0 )}}"> Dislike </a>
        </div>
    </div>
</div>
    {% endif %}
{% endblock %}