
{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
<link rel ="stylesheet" type ="text/css" href = "{{ url_for('static', filename='main.css') }}"> 

<div class = "container-fluid">
    <div class ="row" id="heading1container"><h1 id="heading1">Today's Popular Movies and TV Shows!</h1></div>
    <div class ="row">
        <div class="col" id ="sidebar">
            <h1 id="heading2">TV Shows: </h1>
            {% if json_data_popular %}
                {% for data in json_data_populartv['results']: %}
                
                <div id="movieblock"> 
                    <div class="row">
                        <img src = "https://image.tmdb.org/t/p/original{{data['poster_path']}}" width=auto height=auto></img>
                    </div>
                    <div class="row">
                        <h3>Title:</h3>
                        <a href="show_title['title']" id ="displaytitle"> {{ data['name'] }} </a>
                        <h3>Overview:</h3>
                        <p>{{ data['overview'] }}</p>
                    </div>
                    <div class="row">
                        <h3>Rating:</h3>
                        <p id ="displaytitle"> {{ data['vote_average'] }} </p>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col" id ="sidebar">
            <h1 id="heading2">Movies: </h1>
            {% if json_data_popular %}
                {% for data in json_data_popular['results']: %}
                <div id="movieblock"> 
                    <div class="row">
                        <img src = "https://image.tmdb.org/t/p/original{{data['poster_path']}}" width=50% height=50%></img>
                    </div>
                    <div class="row">
                        <h3>Title:</h3>
                        <a href="show_title['title']" id ="displaytitle"> {{ data['title'] }} </a>
                        <h3>Overview:</h3>
                        <p>{{ data['overview'] }}</p>
                    </div>
                    <div class="row">
                        <h3>Rating:</h3>
                        <p id ="displaytitle"> {{ data['vote_average'] }} </p>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<script src="static/bootstrap.min.js"></script>
{% endblock %}
   
