
{% extends "base.html" %}
{% block content %} 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel ="stylesheet" type ="text/css" href = "{{ url_for('static', filename='main.css') }}">
<div class = "container" >
        <div class ="row" id = "filtercontainer">
                <div class = "col-4"><h3 id="heading3">Filters: </h3></div>
                <div class = "col-4">
                        <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Filters
                                </button>
                                <div class ="dropdown-menu">
                                        <form id="genre_filter_form" method="POST" action="{{ url_for('movies_recommendations') }}">
                                                <label>&nbsp;Genre:</label><br/>
                                                {% for movie_genre in json_data_movie_genre['genres'] %}
                                                <a class="dropdown-item">{{ movie_genre['name'] }} <input type="checkbox" name="genre_checkbox" value="{{ movie_genre['id'] }}" ></a>

                                                {% endfor %}
                                                <label>&nbsp;Runtime:</label><br/>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" checked="checked" name="runtime" id="any" value="any" autocomplete="off"> Any <br/>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="runtime" id="less_than_hour" value="less_than_hour" autocomplete="off"> Less than 1 hr<br/>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="runtime" id="hour_to_hour_half" value="hour_to_hour_half" autocomplete="off"> 1hr to 1hr30 <br/>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="runtime" id="hour_half_to_two_hours" value="hour_half_to_two_hours" autocomplete="off"> 1hr30 to 2hr <br/> 
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="runtime" id="more_than_two_hours" value="more_than_two_hours" autocomplete="off"> 2hr+
                                        </form>
                                </div>
                                <input  type='submit' value="Apply Filter" form="genre_filter_form">
                        </div>
                </div>
        </div>
</div>

<div class = "container">
        <div class ="row" id = "filtercontainer">
                <h1 id="heading1"> Your Recommendations </h1>
        </div>
        
        <div class ="col" id= "heading1container">
                {% for movie_title in recommended_movie_information %}
                <div id ="movieblock" class ="row-3">
                                <div id = "col-2">
                                        <a href="{{url_for('content_info',id = movie_title['id'], content_type = 'movie' )}}" id="displaytitle">
                                <img src = "https://image.tmdb.org/t/p/original{{ movie_title['poster']}}"  style="width: 30%"  ></img></a>
                                </div>      
                                <div id = "col-2">
                                        <a href="{{url_for('content_info', id = movie_title['id'], content_type = 'movie' )}}" id="displaytitle">  {{ movie_title['title'] }}</a>
                                </div>             
                </div>                              
                {% endfor %}
        </div>
</div>
{% endblock %}







































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































