{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel ="stylesheet" type ="text/css" href = "{{ url_for('static', filename='main.css') }}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">


    <h1 id ="heading1">Find a Movie!</h1>
    <form action='' method="POST">
        <input type="text" name="movie_search">
        <input type="submit" value="Search">
    </form>

    <h1>Results</h1>
    <div class="container -3 mb-2 bg-info text-white"">
        <h2> Movies </h2>
        {% if json_data_movie %}
            {% for data in json_data_movie['results']: %}
                <!-- <a href='/post_movie_to_db' name='movieinfo'>  {{ data['title'] }} {{ data['id'] }} </a> <!-->
                <a href="{{url_for('post_movie_to_database', title= data['title'], id = data['id'] )}}" id="list">  {{ data['title'] }} || </a> 
                <a href="{{url_for('recommendations_one', recommendation_id = data['id'] )}}" id="list"> Get Recommendations   </a>
                <br>
            {% endfor %}
        {% endif %}
    </div>   
    
    <div class="container -3 mb-2 bg-info text-white"">
        <h2> TV-Shows </h2>
        {% if json_data_tv %}
            {% for data in json_data_tv['results']: %}
                <a href="{{url_for('post_tv_to_database', title= data['name'], id = data['id'] )}}" id="list">  {{ data['name'] }} ||  </a>
                <a href="{{url_for('recommendations_one', recommendation_id = data['id'] )}}" id="list">  Get Recommendations  </a>
                <br>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
