{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel ="stylesheet" type ="text/css" href = "{{ url_for('static', filename='main.css') }}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">

    <div class ="row" id="heading1container" > 
        
        <div class = "row" id ="sidebar">
            <h1>Find a Movie!</h1>
            <form action='' method="POST">
                <input type="text" name="movie_search">
                <input type="submit" value="Search">
            </form>
        </div>

        <div class ="row" id="heading1container">
            <h1> Results </h1>
        </div>

    </div>

    <div class="container-fluid">
        <div class ="row" id="heading1container">
            <div class = "col" id ="sidebar">
                <h2 id="heading2"> Movies </h2>
                {% if json_data_movie %}
                    {% for data in json_data_movie['results']: %}
                        <!-- <a href='/post_movie_to_db' name='movieinfo'>  {{ data['title'] }} {{ data['id'] }} </a> <!-->
                        <div class="row">
                            <img src = "https://image.tmdb.org/t/p/original{{data['poster_path']}}" ></img>
                        </div>
                        <div class="row">
                            <a href="{{url_for('content_info', title= data['title'], id = data['id'], poster = data['poster_path'], overview = data['overview'], rating = data['vote_average'], content_type = "movie" )}}" id="list">  {{ data['title'] }} </a>
                        </div>
                        <div class="row">
                        <a href="{{url_for('recommendations_one', recommendation_id = data['id'] )}}" id="list"> Get Recommendations   </a>
                        </div>
                        <br>
                    {% endfor %}
                {% endif %}
            </div>
            <div class = "col" id ="sidebar">
                <h2 id="heading2"> TV-Shows </h2>
                <div class="row">
                    {% if json_data_tv %}
                        {% for data in json_data_tv['results']: %}
                            <div class ="row">
                                <img src = "https://image.tmdb.org/t/p/original{{data['poster_path']}}" ></img>
                            </div>
                            <div class = "row">
                                <a href="{{url_for('content_info', title= data['name'], id = data['id'], poster = data['poster_path'], overview = data['overview'], rating = data['vote_average'], content_type = 'tv' )}}" id="list">  {{ data['name'] }} testing </a>
                            </div>
                            </div>
                            <div class="row">
                                <a href="{{url_for('recommendations_one', recommendation_id = data['id'] )}}" id="list">  Get Recommendations  </a>
                            </div class>
                            <br>                   
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
