{% extends "base.html" %}
{% block content %}
    <h1> User Content</h1>

  
    <h2> Movies</h2>
    {% for document in cursor_movies: %}
        <p>{{ document["Title"] }} <a href="{{url_for('recommendations_one', recommendation_id = document['_id'], type = 'movie' )}}"> Get Recommendations  </a></p>  
        
       
    {% endfor %}

    <button> Get Movie Recommendations </button>

    <h2> TV Shows</h2>
    {% for document in cursor_tv: %}
        <p>{{ document["Title"] }} <a href="{{url_for('recommendations_one', recommendation_id = document['_id'], type ='tv' )}}"> Get Recommendations  </a></p>  
  
    {% endfor %}

    <button> Get TV-Show Recommendations </button>

{% endblock %}